.profile-box {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.profile-box-about-employee {
    display: flex;
}

.profile-box-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-box-info-fields {
    margin-bottom: 5px;
}

.to_employee_list_button {
    display: flex;
    align-items: center;
    color: black;
}



.profile-box a {
    text-decoration: none;
}