html {
    font-family: Verdana, serif;
}

body {
  margin: 0;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fields-title {
  text-transform: uppercase;
  font-weight: bold;
}
